<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @post.text %>
</p>

<p>
  <strong>Post Owner ID:</strong>
  <%= @post.user_id %>
</p>

<p>
  <strong>Post Owner:</strong>
  <%= @post.user.email %>
</p>

<% if user_signed_in? %>
	<% if @can_like_or_dislike %>
		<%= link_to "Like", like_post_path, method: :post %>
		<%= link_to "Dislike", dislike_post_path, method: :post %>
	<% else %>
		You already like or dislike this post
	<% end %>
<% end %>

<br>
<br>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
